<section class="vh-100 gradient-custom">
  <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
    <div class="card-body p-4 p-md-5">
      <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add Category</h3>
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12 mb-2 pb-1">
            <div class="form-outline">
              <label class="form-label" for="name">Name</label>
              <input type="text" id="name" class="form-control form-control-lg" formControlName="name" />
            </div>
            <div
              *ngIf="categoryForm.controls['name'].invalid && (categoryForm.controls['name'].dirty || categoryForm.controls['name'].touched)"
              class="alert alert-danger">
              Category name is required minimum 4 characters
            </div>
          </div>

          <div class="row">

            <div class="col-12">

              <div class="col-9 pt-3 mt-3 text-center">
                <button class="btn btn-info text-white" type="submit">Add Category</button>
              </div>


            </div>
          </div>
        </div>


      </form>
    </div>
  </div>

</section>
