<div class="card mb-3 prod-car" style="max-width: 540px; border: none">
  <div class="row row-cols-2 g-0 d-flex w-100">
    <div class="col-4 p-1 ">
      <img src="https://img.freepik.com/premium-photo/cup-coffee-oriental-style-metal-tray_93675-107319.jpg?size=626&ext=jpg&ga=GA1.2.1932154363.1665712397" class="img-fluid rounded-circle h-100" alt="...">
    </div>
    <div class="col-8">
      <div class="card-body position-relative card-content">
        <h5 class="card-title">{{content?.date}}</h5>
        <p class="card-text"><small >{{content?.user}}</small></p>
        <p class="card-text"><small >{{content?.room}}</small></p>
        <p class="card-text"><small >{{content?.ext}}</small></p>
        <p class="card-text"><small >{{content?.action}}</small></p>
        <label for="qty" class="form-label">quantity: </label>
        <input type="number" class="form-control input" id="qty" >
        <p class="card-text position-absolute bottom-0 end-0">price: <small >{{content?.amount}} <sup>$</sup></small></p>

      </div>
    </div>
  </div>
</div>