.close-btn {
  border: none;
  background: none;
  font-size: 18px;
}

.qty-input {
  width: 60px;
  border-radius: 10px;
}

.container {
  margin-top: 20px;
}

.btn:hover {
  color: #fff;
}

.input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: #f8c146;
  outline: 0px;
}

.form-control {
  border: 1px solid #f8c146;
}

.form-select {
  border: 1px solid #f8c146;


}
