.title{
    color: #1C0E08;
}

.line{
    width: 80%;
    height: 3px;
    background-color: #9A7D60;
    margin: 4% 10%;
}

.prod-car{
    background-color: transparent;
}

.card-content{
    color: #524235
}

.input{
    width: 5rem;
    display: inline;
    margin-left: .2rem;
}
.input:focus{

    border: none ;
    box-shadow: 0 0 0 0.05rem #524235 ;
}




/**/
/* .order-card{
display: flex !important;
flex-direction: row ;
flex-wrap: wrap;
} */

.orange{
    color:#FD7D00 
}