<section class="vh-100 gradient-custom">
  <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
    <div class="card-body p-4 p-md-5">
      <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Product Details</h3>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-12 mb-2 pb-1">
            <div class="form-outline">
              <label class="form-label" for="name"></label>
              <input type="text" id="name" class="form-control form-control-lg" formControlName="name" />
            </div>
            <div
              *ngIf="productForm.controls['name'].invalid && (productForm.controls['name'].dirty || productForm.controls['name'].touched)"
              class="alert alert-danger">
              Name is required minimum 4 characters
            </div>
          </div>
          <div class="col-md-12 mb-2 pb-1">
            <div class="form-outline">
              <label class="form-label" for="price">Price</label>
              <input type="number" id="price" class="form-control form-control-lg" formControlName="price">

            </div>
            <div
              *ngIf="productForm.controls['price'].invalid && (productForm.controls['price'].dirty || productForm.controls['price'].touched)"
              class="alert alert-danger">
              Product price is required </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label for="inputState" class="form-label">Category</label>
              <select id="inputState" class="form-select" formControlName="categoryTo">
                <option [ngValue]="category._id" *ngFor="let category of categories">{{category.name}}</option>
              </select>
            </div>
            <div class="col-8 mt-4 pt-2">
              <a routerLink="category" class="btn btn-info text-white">Add Category</a>
            </div>
          </div>
        </div>
        <div
          *ngIf="productForm.controls['categoryTo'].invalid && (productForm.controls['categoryTo'].dirty || productForm.controls['categoryTo'].touched)"
          class="alert alert-danger">
          Select product category or add a new category
        </div>

        <div class="col-md-12 mb-2 pb-1">
          <label class="form-label" for="customFile">Image</label>
          <input type="text" id="price" class="form-control form-control-lg" formControlName="img">
        </div>
        <div
          *ngIf="productForm.controls['img'].invalid && (productForm.controls['img'].dirty || productForm.controls['img'].touched)"
          class="alert alert-danger">
          Image url is required
        </div>
        <div class="mt-4 pt-2 d-flex justify-content-center">
          <input class="btn btn-primary btn-lg" type="submit" [disabled]="!productForm.valid" value="Save" />
          <input class="btn btn-danger btn-lg ms-2" type="reset" value="Reset" (click)="resetForm()" />
        </div>
      </form>
    </div>
  </div>

</section>
